/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2021-3-25 09:05:49
 */.relationMapping-container table{padding:0;margin:0}.relationMapping-container table td,.relationMapping-container table th{text-align:center;border-left:1px solid #eee;border-top:1px solid #eee;padding:5px}.relationMapping-container table tr:last-child td{border-bottom:1px solid #eee}.relationMapping-container table td:last-child,.relationMapping-container table th:last-child{border-right:1px solid #eee}